{% assign pageTitle = "Riley Shaw" %}
{% if page.topTitle %}{% assign pageTitle = pageTitle | append:" | " | append: page.topTitle %}
{% else %}
    {% if page.title %}{% assign pageTitle = pageTitle | append:" | " | append: page.title %}{% endif %}
    {% if page.tag %}{% assign pageTitle = pageTitle | append:" | Blog | " | append: page.tag %}{% endif %}
    {% if paginator.page and paginator.page != 1 %}{% assign pageTitle = pageTitle | append:" | " | append: paginator.page %}{% endif %}
    {% if pageTitle == "Riley Shaw" %}{% assign pageTitle = pageTitle | append: " | ˁ˚ᴥ˚ˀ" %}{% endif %}
    {% assign pageTitle = pageTitle | titlecase %}
{% endif %}

<!DOCTYPE html>
<html lang="en" class="{{ page.topclass }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ pageTitle }}</title>
    <meta name="description" content="Riley Shaw | A designer and programmer">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="msapplication-TileColor" content="#44CCAA">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <link rel="apple-touch-icon-precomposed" href="/favicon-152.png">
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/_bower_components/dialog-polyfill/dialog-polyfill.css">
    <link rel="stylesheet" href="/_bower_components/fluidbox/css/fluidbox.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/prism.css">
    <!-- endbuild -->

    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400|Droid+Serif:400,700,400italic|Raleway:800|Montserrat:700|Inconsolata:400,700' rel='stylesheet' type='text/css'>

    <!-- build:js(app) /scripts/head-scripts.js -->
    <script src="/_bower_components/jquery/dist/jquery.min.js"></script>
    <!-- endbuild -->

    {% include googleanalytics.html %}

  </head>
  <body>

    <dialog id="cdTerm">
      <input type="text" />
    </dialog>

    {{ content }}

    {% include scripts.html %}

  </body>
</html>
