.content p, .blog-masthead p, p.date, .post-meta
  font-family: $sans
  font-weight: $light

.blog-masthead p, p.date, .post-meta
  font-size: 12px
  text-transform: uppercase
  letter-spacing: 4px

.blog-masthead p, p.date
  margin: 36px 0 20px
  color: #b3b3b3

.post-meta
  margin: 20px 0

  span
    margin: 0 2em

  a
    text-decoration: none

.blog-masthead
  margin-bottom: 120px
  text-align: center
  text-transform: uppercase

  h1
    margin: 1em 0 0
    font: $heavy 84px $masthead

.blog-posts
  width: 800px
  margin: auto
  padding: 0
  text-align: center

  & > li
    list-style: none
    margin-bottom: 144px

  .content
    max-height: 208px
    overflow: hidden
    line-height: 1.5em
    font-size: 18px
    font-weight: $light

.gist
  margin: 22px 0