.post
  #top-nav
    background: none

    .logo
      color: $cteal
      background: rgba(255, 255, 255, 0.95)

      &::after
        background: $cteal

.content p, .blog-masthead p, p.date, .post-meta
  font-family: $sans
  font-weight: $light

.blog-masthead p, p.date, .post-meta
  font-size: 12px
  text-transform: uppercase
  letter-spacing: 4px

.blog-masthead p, p.date
  margin: 36px 0 20px
  color: #b3b3b3

.post-meta
  span
    margin: 0 2em

  a
    text-decoration: none

.blog-masthead
  margin-bottom: 120px
  text-align: center
  text-transform: uppercase

  h1
    margin: 1.5em 0 0
    font: $heavy 84px $masthead

.blog-posts, .pagination
  text-align: center

.blog-posts
  width: 800px
  margin: auto
  padding: 0

  & > li
    list-style: none
    margin-bottom: 144px

    &:last-child
      margin-bottom: 72px

  .content
    overflow: hidden
    line-height: 1.5em
    margin: 2em 0
    font-size: 20px
    font-weight: $light

.pagination
  line-height: 36px
  margin-bottom: 72px
  font-size: 22px
  vertical-align: middle

  i
    margin: 36px
    font-size: 36px
    vertical-align: middle

  a, strong
    display: inline-block
    margin: 12px
    text-decoration: none

  strong
    color: $corange

  .disabled
    color: #f8f8f8

.gist
  margin: 22px 0
