@media (max-width: 800px)
  .blog-posts
    width: 100%

    li
      padding: 0 12px

  .splash-shard
    height: 25%
    width: 100%

    &.triple
      a
        float: left
        height: 100%
        width: 33%

        &:nth-of-type(even)
          height: 100%
          width: 34%

      h1
        display: none

    img
      display: inline-block
      width: 20%
      vertical-align: middle

  .center-mark
    display: none

  .post
    .inner
      width: 92%
      padding: 4%

    h1
      margin-bottom: 0
      font-size: 24px

    p.date
      margin-top: 0
      font-size: 12px

    p
      font-size: 20px

  footer
    width: 100%

@media (max-width: 640px)
  footer
    font-size: 36px

@media (max-width: 500px)
  footer
    font-size: 24px
