html, body
  height: 100%

html, a
  color: $cplain

body
  padding-top: 60px

  .splash &
    padding-top: 0

h1, h2, header
  a
    text-decoration: none

h1, h2, h3
  line-height: 1em
  font-family: $header

pre
  font-size: 18px
  line-height: 1.2em

// Inner header
#top-nav
  position: fixed
  top: 0
  left: 0
  overflow: hidden
  height: 60px
  width: 100%
  line-height: 60px
  text-align: center
  text-transform: uppercase
  background: $cplain
  transition: width .5s, top .2s, left .2s, box-shadow .1s

  &.shortened
    width: 60px
    top: 12px
    left: 12px
    box-shadow: 0 0 0 6px rgba( 255, 255, 255, .8)
    transition: width .5s, top .2s, left .2s, box-shadow .2s .5s

  .logo
    position: relative
    float: left
    height: 60px
    width: 60px
    font-family: Raleway
    font-size: 36px
    font-weight: $heavy
    background: #44ccaa

    &:after
      content: ''
      position: absolute
      left: 50%
      bottom: 8px
      height: 4px
      width: 4px
      margin-left: -2px
      border-radius: 2px
      background: $cplain
      transition: bottom .5s

    &:hover:after
      bottom: 32px

  nav
    float: right

    a
      display: block
      height: 100%
      padding: 0 18px
      color: #ccc
      transition: color .3s, background .3s

      &:hover
        background: #555

  ul
    margin: 0

  li
    display: inline-block
    font-weight: $light
    list-style: none
    letter-spacing: 4px

// cdTerm

#cdTerm
  input
    outline: none
    font-size: 60px
    text-align: center

