.portfolio-index
  & > a
    position: relative
    float: left
    width: 20%
    padding-top: 20%
    box-sizing: border-box
    color: white
    background: $cplain

  h1
    position: absolute
    top: 50%
    height: 60px
    line-height: 60px
    margin-top: -30px
    width: 100%
    text-align: center
