.post
  line-height: 1.5em
  width: 100%
  margin-bottom: $footerheight
  padding-bottom: $footerheight / 3
  font-size: 20px
  font-weight: 300
  font-family: $serif
  background-color: $cbg

  .inner
    width: 800px
    margin: auto

  h1
    margin: 1em 0 -.5em

  p
    margin-bottom: 1.36em

    &.date
      margin-top: 22px
      font-family: $sans

article
  margin-bottom: 3em

.disclaimer

  background-color: #ffe8f8

figure
  text-align: center

img
  max-width: 100%

figcaption
  font-size: 12px
  font-style: italic

table
  margin: 1.5em 24px
  text-align: left

tr:nth-child(2n)
  background-color: #f8f8f8

th, td
  box-sizing: border-box
  padding: 6px 24px 6px 13px
  border: 1px solid #ddd

cite
  display: block
  text-align: right

  &:before
    content: '– '

.footnote
  margin-left: 0.2em
  font-size: 12px
  font-style: normal
  text-decoration: none
  color: #bababa

#disqus_thread
  margin-bottom: 5em
