// font weights
$thin: 100
$extra-light: 200
$light: 300
$book: 400
$medium: 500
$demi-bold: 600
$bold: 700
$heavy: 800
$black: 900

// font families

// @font-face
//   font-family: 'FantasqueSansMono'
//   src: url('../fonts/FantasqueSansMono-BoldItalic.eot')
//   src: url('../fonts/FantasqueSansMono-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/FantasqueSansMono-BoldItalic.woff') format('woff'), url('../fonts/FantasqueSansMono-BoldItalic.ttf') format('truetype'), url('../fonts/FantasqueSansMono-BoldItalic.svg#FantasqueSansMono-BoldItalic') format('svg')
//   font-weight: $bold
//   font-style: italic
//
// @font-face
//   font-family: 'FantasqueSansMono'
//   src: url('../fonts/FantasqueSansMono-Bold.eot')
//   src: url('../fonts/FantasqueSansMono-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/FantasqueSansMono-Bold.woff') format('woff'), url('../fonts/FantasqueSansMono-Bold.ttf') format('truetype'), url('../fonts/FantasqueSansMono-Bold.svg#FantasqueSansMono-Bold') format('svg')
//   font-weight: $bold
//   font-style: normal
//
// @font-face
//   font-family: 'FantasqueSansMono'
//   src: url('../fonts/FantasqueSansMono-RegItalic.eot')
//   src: url('../fonts/FantasqueSansMono-RegItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/FantasqueSansMono-RegItalic.woff') format('woff'), url('../fonts/FantasqueSansMono-RegItalic.ttf') format('truetype'), url('../fonts/FantasqueSansMono-RegItalic.svg#FantasqueSansMono-RegItalic') format('svg')
//   font-weight: $book
//   font-style: italic
//
// @font-face
//   font-family: 'FantasqueSansMono'
//   src: url('../fonts/FantasqueSansMono-Regular.eot')
//   src: url('../fonts/FantasqueSansMono-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/FantasqueSansMono-Regular.woff') format('woff'), url('../fonts/FantasqueSansMono-Regular.ttf') format('truetype'), url('../fonts/FantasqueSansMono-Regular.svg#FantasqueSansMono-Regular') format('svg')
//   font-weight: $book
//   font-style: normal

@font-face
  font-family: 'Nexa'
  src: url('Nexa-Light.otf') format('opentype')
  font-weight: $light
  font-style: normal

@font-face
  font-family: 'Nexa'
  src: url('Nexa-Bold.otf') format('opentype')
  font-weight: $bold
  font-style: normal

@font-face
  font-family: 'FontAwesome'
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?v=#{$fa-version}')
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'), url('#{$fa-font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'), url('#{$fa-font-path}/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'), url('#{$fa-font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg')
  font-weight: normal
  font-style: normal


// font-stacks
$header: Montserrat, Gotham, Avenir, Futura, 'Trebuchet MS', 'Century Gothic', CenturyGothic, AppleGothic, Helvetica, Arial, sans-serif, FontAwesome
$masthead: Raleway, $header
$sans: 'Source Sans Pro', Gill Sans, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, Helvetica, Arial, sans-serif, FontAwesome
$serif: 'Droid Serif', serif, FontAwesome
$mono: Inconsolata, /*FantasqueSansMono,*/ Consolas, monaco, 'Lucida Console', monospace, FontAwesome
