/* Reset stuff for a while */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/*Now the fun stuff!*/

body {
	background-image: url("http://static.simpledesktops.com/uploads/desktops/2013/03/30/Blue-Fish.png");
background-color: #10447d;
margin-top: 100px;
}

.button {
	position: fixed;
	right: 10px;
	top: 10px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: yellow;
	z-index: 100;
}

#hex:before, #hex:after {
	position: absolute;
	left: -70px;
	width: 120px;
    height: 0;
	border-left: 60px solid transparent;
    border-right: 60px solid transparent;
	content: " ";
}
#hex:before {
	top: -54px;
	border-bottom: 104px solid #bbb;
}
#hex:after {
	top: 50px;
	border-top: 104px solid #bbb;
}
#hex {
	position: absolute;
	top: 100px;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);

	-webkit-transition:
		-webkit-transform 2s ease-in-out 2s,
		top 2s ease-in 0s;
	-moz-transition:
		-moz-transform 2s ease-in-out 2s,
		top 2s ease-in 0s;
	-o-transition:
		-o-transform 2s ease-in-out 2s,
		top 2s ease-in 0s;
	transition:
		transform 2s ease-in-out 2s,
		top 2s ease-in 0s;
}
		
#inner {
	position: relative;
	height: 100px;
	width: 100px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px; 

	background-color: white;
	z-index: 1;
}

#center {
	width: 100px;
	height: 0;
	margin: 0 auto;
}

#blocker {
	position: absolute;
	top: 150px;
	width: 100%;
	height: 1000px;
	background-color: #eee;
	z-index: -1;

	-webkit-transition: top 2s ease-in 0s;
	-moz-transition: top 2s ease-in 0s;
	-o-transition: top 2s ease-in 0s;
	transition: top 2s ease-in 0s;
}

.button:hover {
	background-color: blue;
}

body:hover #hex {
	top: 400px;
	-webkit-transform: rotate(450deg);
	-moz-transform: rotate(450deg);
	-o-transform: rotate(450deg);
	-ms-transform: rotate(450deg);
	transform: rotate(450deg);
	
	-webkit-transition:
		-webkit-transform 2s ease-in-out 0s,
		top 2s ease-in 2s;
	-moz-transition:
		-moz-transform 2s ease-in-out 0s,
		top 2s ease-in 2s;
	-o-transition:
		-o-transform 2s ease-in-out 0s,
		top 2s ease-in 2s;
	transition:
		transform 2s ease-in-out 0s,
		top 2s ease-in 2s;
}

body:hover #blocker {
	top: 450px;
	-webkit-transition: top 2s ease-in 2s;
	-moz-transition: top 2s ease-in 2s;
	-o-transition: top 2s ease-in 2s;
	transition: top 2s ease-in 2s;
}

h1 {
	text-align: center;
	margin-top: 300px;
	font-family: 'Lobster', cursive;
	font-size: 36pt;
	color: #ccc;
}