---
layout: inner
title: Laboratory &#x269b;&#xfe0e;
topclass: lab
---

<div class="lab-index">
  <header>
    <div class="stamp">&#x269b;&#xfe0e;</div>
    <p>This is a collection of rough experiments, doodles, and toys.</p>
    <div class="filters">
      <!--
      careful when changing these ids, the sorting methods use them programmatically
      -->
      <fieldset id="labs-sorters">
        <legend>Sort by:</legend>
        <input type="radio" name="labs-sort" id="labs-date-sorter" checked>
        <label for="labs-date-sorter">Date</label>
        <input type="radio" name="labs-sort" id="labs-name-sorter">
        <label for="labs-name-sorter">Name</label>
        <input type="radio" name="labs-sort" id="labs-coolness-sorter">
        <label for="labs-coolness-sorter">Coolness</label>
        <input type="radio" name="labs-sort" id="labs-random-sorter">
        <label for="labs-random-sorter">Shuffle</label>
      </fieldset>
      <fieldset id="labs-filters">
        <legend>Match:</legend>
        <input type="radio" name="labs-filter" id="labs-any-filter" checked>
        <label for="labs-any-filter">ANY</label>
        |
        <input type="radio" name="labs-filter" id="labs-all-filter">
        <label for="labs-all-filter">ALL</label>
      </fieldset>
      <fieldset id="labs-toggles">
        <legend>Of:</legend>
        {% for tag in site.data.lab.tags %}
          <input type="checkbox" id="labs-{{ tag.name }}-toggle">
          <label for="labs-{{ tag.name }}-toggle">{{ tag.readable }}</label>
        {% endfor %}
        <button class="labs-clear-toggles">X</button>
      </fieldset>
    </div>
  </header>
  <ul class="experiments">
    {% for project in site.data.lab.projects | sort: 'date' %}
      {% unless project.todo %}
        <li
          {% comment %}I couldn't find a builtin for map => join so I rolled my own.{% endcomment %}
          class="{% for tag in project.tags %}{% if forloop.index > 1 %}{{ ' ' }}{% endif %}{{ tag | prepend: 'labs-' }}{% endfor %}"
          data-coolness="{{ project.coolness }}"
        >
          <a href="{{ project.href }}">
            <h2>{{ project.title }}</h2>
            <time datetime={{ project.date }}>{{ project.date | replace: '-', '.'}}</time>
            {% for paragraph in project.description %}
              <p>{{ paragraph | replace: '<a ', '<span class="fake-link" role="link" tabindex="0" data-' | replace: '</a>', '</span>' }}</p>
            {% endfor %}
          </a>
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
</div>

<!-- build:js(app) /scripts/lab.js -->
<script src="/_bower_components/isotope/dist/isotope.pkgd.min.js"></script>
<!-- endbuild -->

<script>
  (function () {
    var sorterContainer = document.getElementById('labs-sorters');
    var shuffleSort = document.getElementById('labs-random-sorter');
    var filterContainer = document.getElementById('labs-filters');
    var anyFilter = filterContainer.querySelector('input');
    var toggleContainer = document.getElementById('labs-toggles');
    var toggles = toggleContainer.querySelectorAll('input');
    var numToggles = toggles.length;
    var clearToggles = document.querySelector('.labs-clear-toggles');
    var fakeLinks = document.querySelectorAll('.fake-link');

    clearToggles.addEventListener('click', function (e) {
      toggles.forEach(function (toggle) {
        toggle.checked = false;
      });
      iso.arrange({filter: '*'});
    }, false);

    // HACK but i like it ;)
    document.getElementById('labs-starred-toggle').checked = true;
    document.getElementById('labs-online-toggle').checked = true;

    [].forEach.call(fakeLinks, function (link) {
      function fakeLinkClick (e) {
        e.preventDefault();
        var href = link.dataset.href;
        if (e.metaKey) {
          window.open(href, '_blank');
        } else {
          location.href = href;
        }
      }

      link.onclick = fakeLinkClick;
      link.onkeypress = function (e) {
        if ((e.keyCode ? e.keyCode : e.which) === 13) fakeLinkClick(e);
      }
    });

    // jenky; prevent :focus from appearing on mouse events
    var focusKiller = document.createElement('a');

    var isoContainer = document.querySelector('.experiments');
    var iso = new Isotope(isoContainer, {
      itemSelector: 'li',
      masonry: {
        isFitWidth: true,
        gutter: 30 - 12 * 2
      },
      getSortData: {
        name: 'h2',
        coolness: '[data-coolness] parseInt',
        date: 'time',
      }
    });

    sorterContainer.addEventListener('change', function (e) {
      var target, sortMethod;
      if (!e) e = window.event;
      if (e.target) target = e.target;
      else if (e.srcElement) target = e.srcElement;
      // defeat Safari bug
      if (target.nodeType == 3) target = target.parentNode;

      sortMethod = target.id.match(/-.*-/)[0].slice(1, -1);

      iso.arrange({
        sortBy: sortMethod,
        sortAscending: sortMethod === 'name'
      });
    }, false);

    function resort () {
      var toggle, selectedClasses = [];
      var joinChar = anyFilter.checked ? ',' : '';

      for (var i = 0; i < numToggles; i++) {
        toggle = toggles[i];
        if (toggle.checked) {
          selectedClasses.push('.' + toggle.id.slice(0, -7));
        }
      }

      iso.arrange({
        filter: selectedClasses.join(joinChar) || '*'
      });
    }

    filterContainer.addEventListener('change', resort, false);
    toggleContainer.addEventListener('change', resort, false);
    resort();

    // allow repeated clicking of shuffle
    shuffleSort.addEventListener('click', iso.shuffle.bind(iso), false);

    focusKiller.href = '#';
    focusKiller.className = 'visuallyhidden';
    document.body.appendChild(focusKiller);
    window.addEventListener('mouseup', function () {
      setTimeout(function () {
        var x = window.scrollX, y = window.scrollY;
        focusKiller.focus();
        window.scrollTo(x, y);
      }, 0);
    }, false);
  })();
</script>
