/* full reset */

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/* the meat */

	html, body {
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
	body {
		overflow-y: auto;
		font-family:  'Clicker Script', cursive;
	}
	header {
		position: fixed;
		top: 30px;
		left: 50%;
		height: 100%;
		width: 190px;
	}
	h1, h2, #author {
		color: #3E6D93;
		text-shadow: 2px 1px #fff;
	}
	a {
		color: #3E6D93;
		text-decoration: none;
	}
	h1 {
		font-size: 48pt;
		width: 360px;
		margin: 12pt 0 0 -180px;
		text-align: right;
	}
	header span {
		position: absolute;
		top: 22pt;
		left: -190px;
		font-size: 36px;
	}
	h2 {
		padding-top: 1em;
		padding-bottom: .5em;
		text-align: center;
		font-size: 36pt;
	}
	p {
		padding: 0 1.5em;
		text-align: center;
		font-family:  'Open Sans', sans-serif;
		color: #555;
	}
	strong {
		font-weight: 700;
		color: #3E6D93;
	}
	input:focus, textarea:focus {
    	outline: none;
	}
	#tagField {
		height: 48px;
		width: 250px;
		margin: 12pt 26px 0 24px;

		-webkit-border-radius: 24px;
		-moz-border-radius: 24px;
		border-radius: 24px;

		text-align: center;
		font-size: 30px;
		font-family:  'Open Sans', sans-serif;
		font-weight: 100;
		color: #bbb;
	}
	li {
		list-style: none;
		height: 700px;
		width: 380px;
		padding: 0 100px;
		margin: auto;
		background-size: 380px 380px;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
	}
	.lightbox {
		position: absolute;
		left: -999em;
	}
	.lightbox:target {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.lightbox:target .close a {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		font-weight: 700;
		font-family:  'Open Sans', sans-serif;
		background: rgba(0, 5, 25, 0.75);
	}
	.close span {
		position: absolute;
		top: 1em;
		right: 1em;
		font-size: 2em;
		text-indent: 0;
		color: #fff;
	}
	.close {
		text-indent: -999em;
	}
	.lightbox:target div {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 99;
		background-color: #fff;
	}
	.lightbox div {
		width: 300px;
		height: 300px;
		margin: -150px 0 0 -150px;
		-webkit-box-shadow: 0px 0px 80px rgba(250, 250, 250, 0.5);
		-moz-box-shadow:    0px 0px 80px rgba(250, 250, 250, 0.5);
		box-shadow:         0px 0px 80px rgba(250, 250, 250, 0.5);
	}
	.scroll {
		overflow-y: scroll;
		padding: 0 1em;
	}
	#author {
		width: 380px;
		margin: auto;
		padding-bottom: 60pt;
		font-size: 36pt;
		text-align: center;
		visibility: hidden;
	}
	#author.loaded {
		visibility: visible;
	}

/* icomoon stuff */

	@font-face {
		font-family: 'icomoon';
		src:url('fonts/icomoon.eot');
		src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
			url('fonts/icomoon.woff') format('woff'),
			url('fonts/icomoon.ttf') format('truetype'),
			url('fonts/icomoon.svg#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	/* Use the following CSS code if you want to use data attributes for inserting your icons */
	[data-icon]:before {
		font-family: 'icomoon';
		content: attr(data-icon);
		speak: none;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
	}