html {
    height: 100%;
}
body {
    height: 100%
    position: relative;
    overflow: hidden;
    background-color: #ddeeff;
}

@keyframes sundown {
    0% {top: 200%;}
    100% {top: -100%;}
}
@-moz-keyframes sundown { /* Firefox */
    0% {top: 200%;}
    100% {top: -100%;}
}
@-webkit-keyframes sundown { /* Safari and Chrome */
    0% {top: 200%;}
    100% {top: -100%;}
}
@-o-keyframes sundown { /* Opera */
    0% {top: 200%;}
    100% {top: -100%;}
}

@keyframes mainmove {
    from {left: -3%}
    to {left: 3%;}
}
@-moz-keyframes mainmove { /* Firefox */
    from {left: -3%}
    to {left: 3%;}
}
@-webkit-keyframes mainmove { /* Safari and Chrome */
    from {left: -3%}
    to {left: 3%;}
}
@-o-keyframes mainmove { /* Opera */
    from {left: -3%}
    to {left: 3%;}
}

@keyframes beforemove {
    from {left: -2%}
    to {left: 3%;}
}
@-moz-keyframes beforemove { /* Firefox */
    from {left: -2%}
    to {left: 3%;}
}
@-webkit-keyframes beforemove { /* Safari and Chrome */
    from {left: -2%}
    to {left: 3%;}
}
@-o-keyframes beforemove { /* Opera */
    from {left: -2%}
    to {left: 3%;}
}

@keyframes sailing {
    0% {left: 0;}
    100% {left: 100%;}
}
@-moz-keyframes sailing { /* Firefox */
    0% {left: 0;}
    100% {left: 100%;}
}
@-webkit-keyframes sailing { /* Safari and Chrome */
    0% {left: 0;}
    100% {left: 100%;}
}
@-o-keyframes sailing { /* Opera */
    0% {left: 0;}
    100% {left: 100%;}
}

#sun {
    position: absolute;
    height: 240px;
    width: 240px;
    top: 30%;/*-240px;*/
    left: 50%;
    margin-left: -120px; 
    background-color: #ffffcc;

    box-shadow: 0 0 60px 30px rgba(255, 255, 136, 1) inset,
            0 0 60px rgba(255, 255, 85, 1) inset,
            0 -45px 120px 60px rgba(255, 238, 128, 1),
            0 -25px 240px 120px rgba(255, 204, 85, 1),
            0 25px 360px 240px rgba(255, 119, 68, 0.8),
            0 80px 360px 360px rgba(255, 68, 68, 0.4),
            0 0 1200px 480px rgba(221, 34, 34, 0.2);

    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    border-radius: 120px;

    animation: sundown 60s cubic-bezier(.2,.8,.8,.2) infinite alternate;
    -moz-animation: sundown 60s cubic-bezier(.2,.8,.8,.2) infinite alternate;
    -webkit-animation: sundown 60s cubic-bezier(.2,.8,.8,.2) infinite alternate;
    -o-animation: sundown 60s cubic-bezier(.2,.8,.8,.2) infinite alternate;
}
#sun:before {
    position: absolute;
    z-index: -1;
    top: 120px;
    left: -420px;
    content: '';
    width: 1080px;
    height: 0;
    box-shadow: -360px 0 240px 120px rgba(255, 85, 85, 0.8),
            360px 0 240px 120px rgba(255, 85, 85, 0.8);
}



#water p {
    margin: 0;
    display: block;
    position: absolute;
    top: 50%;
    background: #48a;
    background-image: -moz-linear-gradient(top, #234 0%, #48a 100%);
    width: 150%;
    margin-left: -25%;
    box-shadow: 0 -4px 4px #234;
    font-size: 2em;
    color: rgba(0, 0, 0, 0);
    text-shadow: -3em 0 .5em rgba(255, 255, 255, .5), 3em 0.5em .5em rgba(255, 255, 255, .5);

    animation: mainmove 5s ease-in-out infinite alternate;
    -moz-animation: mainmove 5s ease-in-out infinite alternate;
    -webkit-animation: mainmove 5s ease-in-out infinite alternate;
    -o-animation: mainmove 5s ease-in-out infinite alternate;
    /*-moz-transform: rotateX(45deg);*/
}



/*#water p:before,
#water p:after {
}*/
#water p:before {
    display: block;
    position: absolute;
    top: 11px;
    content: attr(data-wave);
    text-shadow: -3em 0 .5em rgba(255, 255, 255, .5), 3em 0.5em .5em rgba(255, 255, 255, .5);
    animation: beforemove 4.5s ease-in-out infinite alternate;
    -moz-animation: beforemove 4.5s ease-in-out infinite alternate;
    -webkit-animation: beforemove 4.5s ease-in-out infinite alternate;
    -o-animation: beforemove 4.5s ease-in-out infinite alternate;
}

/*#water p:after {
}*/

#sailboat {
    position: absolute;
    top: 50%;
	left: 0;
	
    border-top: 30px solid #D4CCC5;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    height: 0;
    width: 90px;
	
	animation: sailing 60s linear infinite alternate;
    -moz-animation: sailing 60s linear infinite alternate;
    -webkit-animation: sailing 60s linear infinite alternate;
    -o-animation: sailing 60s linear infinite alternate;
}
#sailboat:before {
    content: '';
    position: absolute;
    bottom: 35px;
    width: 0;
    height: 0;
    border-bottom: 90px solid red;
    border-left: 30px solid transparent;
}
#sailboat:after {
    content: '';
    position: absolute;
    bottom: 35px;
    left: 35px;
    width: 0;
    height: 0;
    border-bottom: 90px solid red;
    border-right: 55px solid transparent;
}