/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

		#iconContainer {
			width: 350px;
			margin: auto;
		}
		.icon {
			margin: 30px 10px;
			float: left;
		}
		a {
			color: black;
		}

		#play, #pause, #rw, #ff, #stop {
			height: 50px;
			width: 50px;
			-webkit-border-radius: 25px;
			-moz-border-radius: 25px;
			border-radius: 25px;
			background-color: black;
			position: relative;
		}
		#play:before {
			height: 0;
			width: 0;
			border-left: 22px solid white;
			border-top: 11px solid transparent;
			border-bottom: 11px solid transparent;
			position: absolute;
			top: 14px;
			left: 18px;
			content:'';
		}

		#pause:before, #pause:after {
			height: 20px;
			width: 8px;
			position: absolute;
			top: 15px;
			left: 14px;
			content: '';
			background-color: white;
		}
		#pause:after {
			left: 28px;
		}

		#rw:before, #rw:after {
			height: 0;
			width: 0;
			border-right: 14px solid white;
			border-top: 7px solid transparent;
			border-bottom: 7px solid transparent;
			position: absolute;
			top: 18px;
			left: 10px;
			content: '';
		}
		#rw:after {
			left: 22px;
		}

		#ff:before, #ff:after {
			height: 0;
			width: 0;
			border-left: 14px solid white;
			border-top: 7px solid transparent;
			border-bottom: 7px solid transparent;
			position: absolute;
			top: 18px;
			left: 14px;
			content: '';
		}
		#ff:after {
			left: 26px;
		}

		#stop:before {
			height: 22px;
			width: 22px;
			background-color: white;
			position: absolute;
			top: 14px;
			left: 14px;
			content: '';
		}

		p {
			clear: both;
			display: block;
			text-align: center;
		}