#infiniteye {
    position: relative;
    margin: 0 auto;
    width: 156px;
    height: 100px;
    
    animation:pulse 3s ease-in-out infinite alternate;
    -moz-animation:pulse 3s ease-in-out infinite alternate;
    -webkit-animation:pulse 3s ease-in-out infinite alternate;
    -o-animation:pulse 3s ease-in-out infinite alternate;
}

@keyframes pulse {
	0%   {width: 214px;}
	100% {width: 98px;}
}

@-moz-keyframes pulse {
	0%   {width: 214px;}
	100% {width: 98px;}
}

@-webkit-keyframes pulse {
	0%   {width: 214px;}
	100% {width: 98px;}
}

@-o-keyframes pulse {
	0%   {width: 214px;}
	100% {width: 98px;}
}

#infiniteye:before,
#infiniteye:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border: 20px solid #a46565;
    -moz-border-radius: 50px 50px 0 50px;
         border-radius: 50px 50px 0 50px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

#infiniteye:after {
    left: auto;
    right: 0;
    -moz-border-radius: 50px 50px 50px 0;
         border-radius: 50px 50px 50px 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}