<header id="top-nav">
  <a href="/" id="drawer-nav-link" class="logo" data-no-instant>R</a>
  <nav>
    <ul>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/portfolio">Portfolio</a>
      </li>
    </ul>
  </nav>
</header>

<nav id="drawer-nav" role="navigation">
  <ul>
    <li>
      <a href="/" class="home-block">
        <div class="vcent"></div>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="../blog" class="blog-block">
        <div class="vcent"></div>
        <span>Blog</span>
      </a>
    </li>
    <li>
      <a href="../portfolio" class="portfolio-block">
        <div class="vcent"></div>
        <span>Portfolio</span>
      </a>
    </li>
    <li>
      <a href="mailto:rileyjshaw@gmail.com" class="contact-block">
        <div class="vcent"></div>
        <span>Contact</span>
      </a>
    </li>
  </ul>
</nav>
