<!-- build:js(app) /scripts/script.js -->
<script src="/scripts/plugins.js"></script>
<script src="/_bower_components/instantclick/instantclick.js"></script>
<script src="/_bower_components/dialog-polyfill/dialog-polyfill.js"></script>
<script src="/_bower_components/imagesloaded/imagesloaded.js"></script>
<script src="/_bower_components/fluidbox/jquery.fluidbox.min.js"></script>
<script src="/_bower_components/mousetrap/mousetrap.min.js"></script>
<script src="/_bower_components/Fokus/js/fokus.min.js"></script>
<script src="/scripts/main.js"></script>
<!-- endbuild -->
